version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7056:7056"
    env_file:
      - .env
    networks:
      - app_network
    # No depends_on because DBs are external
    restart: unless-stopped

networks:
  app_network:
    driver: bridge
