version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7056:7056"
    environment:
      - AUTH_DATABASE_URL=postgresql://root:root123@postgres:5432/auth_db?schema=public
      - USER_DATABASE_URL=postgresql://root:root123@postgres:5432/user_db?schema=public
      - COURSE_DATABASE_URL=postgresql://root:root123@postgres:5432/course_db?schema=public
      - PORT=${PORT}
      - HOST=${HOST}
      - MODE=${MODE}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - CODE_SEED=${CODE_SEED}
    depends_on:
      - postgres
    networks:
      - app_network

  postgres:
    image: postgres:15
    container_name: my_postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data:
